# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Rider
.idea/
*.sln.iml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/libraries
/.idea/shelf
/.idea/modules.xml
/out/
/.gradle

# Visual Studio
.vs/
*.csproj.user
*.csproj.userprefs
*.suo
*.user
*.cache
*.aps
*.res
*.ncb
*.sdf
*.opendb
*.VC.db

# MacOS system files
.DS_Store
.AppleDouble
.LSOverride

# Windows system files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Ignore các thư mục build
bin/
obj/

# Ignore file cấu hình của IDE
*.swp
*.iml

# Ignore các file cache và tạm thời
*.log
*.js

